<div class="center hero-unit">
  <h1></h1>
  
</div>

<div class="center">


  <div class="first Box">
    <div class="container">

      <%= link_to "Los gehts!", contact_path, class: "btn btn-large btn-primary signup" %> 

      <!-- SLIDER -->

      <div class ="slidewrapper">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

      <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("slide.png", alt: "Rails") %>
              <div class="carousel-caption">
              </div>
            </div>

            <div class="item">
              <%= image_tag("slide.png", alt: "Rails" ) %>
              <div class="carousel-caption">               
              </div>
            </div>

            <div class="item">
              <%= image_tag("slide.png", alt: "Rails" ) %>
              <div class="carousel-caption">   
              </div>
            </div>
            
          </div>

      <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
          </a>
        </div>
      </div><!-- SLIDER END-->    
    </div>  
  </div>
  
  <div class="second Box">
    <div class ="container">

      <div class="row ">
        <div class="col-md-4">
          <%= icon('desktop', '', class:'fa-5x') %>
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
        </div>
        <div class="col-md-4">
          <%= icon('paper-plane', '', class:'fa-5x') %>
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p></div>
        <div class="col-md-4">
          <%= icon('dropbox', '', class:'fa-5x') %>
          <h4>Behalten Sie den Überblick</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p></div>
      </div>
    </div>
  </div>

  <div class="third Box">

    <div class ="container">
      <h2>Klar und Einfach</h2>
      <p class="subHead">Bei uns gibt es statt komplizierter Tarife einfache Regeln </p>

      <div class="row">
        <div class="col-md-3">
          <div class="priceBox row1">kleines Objekt</div>
          <div class="priceBox row2">
            Maße bis <br>
            L 40cm x B 30cm x H 22cm
          </div>
          <div class="priceBox row3">Transport: xy€</div>
          <div class="priceBox row4">Lagerung xy€ / Monat</div>

        </div>
        <div class="col-md-3">
          <div class="priceBox row1">mittleres Objekt</div>
          <div class="priceBox row2">Maße bis <br>
            L 60cm x B 40cm x H 32cm</div>
          <div class="priceBox row3">Transport: xy€</div>
          <div class="priceBox row4">Lagerung xy€ / Monat</div>
        </div>
        <div class="col-md-3">
          <div class="priceBox row1">Kleiderbox</div>
          <div class="priceBox row2">Maße<br>
            L 60cm x B 52cm x H 140cm</div>
          <div class="priceBox row3">Transport: xy€</div>
          <div class="priceBox row4">Lagerung xy€ / Monat</div>
        </div>
        <div class="col-md-3">
          <div class="priceBox row1">größeres Objekt <br>Bsp. Fahrrad, Ski oder Fernsehr </div>
          <div class="priceBox row2">Maße bis<br>
            L 200cm x B 50cm x H 200cm</div>
          <div class="priceBox row3">Transport: xy€</div>
          <div class="priceBox row4">Lagerung xy€ / Monat</div>
        </div>
      </div>
    </div>
  </div> 

  <div class="fourth Box">

    <div class="container">

      <h2>Warum i:depot?</h2>

      <p class="subHead">
        idepot ist anders. idepot ist nicht einfach nur ein weiterer Storageplace sonderen ein vollkommen neues Konzept. 
        Denn idepot kann so ziemlich alles, was ein Storageplace nicht kann. 
      </p> 
      <p class="subHead">Sechs Gründe die Sie überzeugen werden.</p>

      <div class="row">
        
        <div class="col-md-4">
          <div class="infoIcon">
            <%= icon('heart', '', class:'fa-2x') %>
          </div>
          <div class="infoBox">
            <h4>Service</h4>
            <p>
              Service vom Abholen bis zum Zurückbringen. Sie müssen nie wieder in dunkle Lagerhallengehen oder schwere Dinge schleppen. Verwalten Sie Ihre Dinge ganz einfach online von Zuhause.
            </p>
          </div>          
        </div>

        <div class="col-md-4">
          <div class="infoIcon">
              <%= icon('clock-o', '', class:'fa-2x') %>
          </div>
          <div class="infoBox">
            <h4>Flexibilität</h4>
            <p>
              Mit iDepot haben Sie rund um die Uhr Zugriff auf Ihre Dinge. Sie bestimmen, was Sie wann wieder haben möchten. Und wohin wir es liefern sollen. An Ihre Haustür. Oder ins Skigebiet. Oder an den Strand. Alles mit einem einfachen Klick.
            </p>
          </div>

        </div>
        <div class="col-md-4">
          <div class="infoIcon">
            <%= icon('leaf', '', class:'fa-2x') %>
          </div>
          <div class="infoBox">
            <h4>Transparency</h4>
            <p>
              Service vom Abholen bis zum Zurückbringen. Sie müssen nie wieder in dunkle Lagerhallengehen oder schwere Dinge schleppen. Verwalten Sie Ihre Dinge ganz einfach online von Zuhause.
            </p>
          </div>
          
        </div>

      </div>

      <div calss="row">
        <div class="col-md-4">
          <div class="infoIcon">
            <%= icon('globe', '', class:'fa-2x') %>
          </div>
          <div class="infoBox">
            <h4>Alles online</h4>
            <p>
              Service vom Abholen bis zum Zurückbringen. Sie müssen nie wieder in dunkle Lagerhallengehen oder schwere Dinge schleppen. Verwalten Sie Ihre Dinge ganz einfach online von Zuhause.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="infoIcon">
            <%= icon('credit-card', '', class:'fa-2x') %>
          </div>
          <div class="infoBox">
            <h4>Geld Sparen</h4>
            <p>Service vom Abholen bis zum Zurückbringen. Sie müssen nie wieder in dunkle Lagerhallengehen oder schwere Dinge schleppen. Verwalten Sie Ihre Dinge ganz einfach online von Zuhause.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="infoIcon">
            <%= icon('lock', '', class:'fa-2x') %>
          </div>
          <div class="infoBox">
            <h4>Sicherheit</h4>
            <p>Service vom Abholen bis zum Zurückbringen. Sie müssen nie wieder in dunkle Lagerhallengehen oder schwere Dinge schleppen. Verwalten Sie Ihre Dinge ganz einfach online von Zuhause.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="fifth Box">
    <div class="container">

      Not convinced yet?

      Form

    </div>

  </div>

  <div class="sixth Box">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="infoIcon">
            <%= icon('key', '', class:'fa-5x') %>
          </div>
          <div class="infoBox">
            <h4>Behalten Sie den Überblick</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="infoIcon">
            <%= icon('shield', '', class:'fa-5x') %>
          </div>
          <div class="infoBox">
            <h4>Behalten Sie den Überblick</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l</p>
          </div>
        </div>
        
      </div>
    </div>


  </div>     


</div>
