<footer class="footer">
  
  <nav class="navFooter container">
    
      
     
        
        <div class ="row">

          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><a href="http://news.railstutorial.org/">News</a></li>
            </ul> 
          </div>

          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><a href="http://news.railstutorial.org/">News</a></li>
            </ul> 
          </div>

          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><a href="http://news.railstutorial.org/">News</a></li>
            </ul> 
          </div>  

          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li><a href="http://www.idepot.de">Deploy</a></li>
            </ul>
            <small>
              <%= link_to "i:depot", root_path %> 
            </small>     
          </div>

        </div>  
        
     

      
    
  </nav>
</footer>

